{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">

  <div class="card">

    <h1 class="center">Dashboard</h1>
    <p class="center">You are currently logged in.</p>

    <div class="center">
      <a href="/logout" class="btn btn--secondary">Log Out</a>
    </div>

    <div class="center">
      <a href="/delete" class="btn btn--secondary">Delete My Account</a>
    </div>
  </div>

  <div class="card">

    <h2 class="center">Your Info</h2>

    <p>
      <strong>Username:</strong> {{ session['username'] }}<br>
    </p>

  </div>

</div>
{% endblock %}