{% extends "base.html" %}

{% block content %}
<div class="center" style="padding-top: 50px;">
  <h1 style="font-family: papyrus, fantasy; font-size: 250%; margin-bottom: 15px;">
    The Website to Nowhere
  </h1>
  <h2 style="font-family: papyrus, fantasy; color: black; font-size: 150%; margin-bottom: 0;">
    stream2fa test website
  </h2>
</div>
<div class="card-wrapper">
  <div class="card">

    <a href="/signup"><h1 class="center">Sign Up</h1></a>

  </div>

  <div class="card">

    <a href="/login"><h1 class="center">Log In</h1></a>

  </div>
</div>
{% endblock %}