html, body i{
    height: 100%;

}

div.instructions-box {
    height: fit-content;
    text-align: center;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.instructions {
    margin-bottom: 8px;
}

div.video-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    height: 405px;
    padding: 10px;
}

div.progress-bar-container {
    position: relative;
    display: block;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    height: 20px;
}

div.progress-bar {
    background-color: black;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

#capture {
    display: none;
}

#powered-by-container {
    position: relative;
    height: fit-content;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#stream2fa-icon-powered-by {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
