html, body {
    height: 100%;

}

div.instructions-box {
    height: fit-content;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.instructions {
    margin-bottom: 8px;
}

div.video-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 450px;
    padding: 10px;
}

div.progress-bar-container {
    position: relative;
    display: block;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 20px;
}

div.progress-bar {
    background-color: #42f572;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

#stream {
    width: 100%;
    height: 100%;
}

#capture {
    display: none;
}
