
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{app}} - stream2fa</title>
    <link rel="icon" href="http://35.153.43.136:8000/download/stream2fa-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="http://35.153.43.136:8000/download/stream.css">
</head>
<body>      
    <div class="container">
        <div class="instructions-box">
            <h2 id="instructions" class="instructions" style="color: black;"></h2>
        </div>
        <div class="video-box">
            <video id="stream"></video>
            <canvas id="capture"></canvas>
        </div>
        <div id="progress-bar-container" class="progress-bar-container">
            <div id="progress-bar" class="progress-bar" style="width: 0;"></div>
        </div>
    </div>

    <input id="username" type="hidden" value="{{username}}"/>
    <input id="app" type="hidden" value="{{app}}"/>
    <a id="success-url" type="hidden" href="{{success_url}}"></a>
    <a id="failure-url" type="hidden" href="{{failure_url}}"></a>
    <script src="http://35.153.43.136:8000/download/auth-stream.js"></script>
</body>
</html>