<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stream2fa - Immediate Redirect</title>
    <link rel="icon" href="https://stream2fa.com/download/stream2fa-icon.png" type="image/x-icon">
</head>
<body>
    <a id="redirect-url" href="{{url}}" style="display: none;"></a>
    <script>
        const a = document.getElementById("redirect-url");
        a.click()
    </script>
</body>
</html>
