{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">
  <div class="card">

    <h1 class="center">Log In</h1>

    <form name="login_form" method="post">

      <label for="username">Username</label>
      <input type="text" name="username" class="field" required>

      <label for="password">Password</label>
      <input type="password" name="password" class="field" required>

      <p id="error-text" class="error error--hidden" style="padding-bottom: 8px;"></p>

      <input type="submit" value="Log In" class="btn">
    </form>

  </div>
</div>
{% endblock %}