<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{app}} - stream2fa</title>
    <link rel="stylesheet" href="http://35.153.43.136:8000/download/main.css">
</head>
<body>
    <p>Registration stream template</p>
    <p>Username: {{username}}</p>
    <br>
    <a href="{{success_url}}" target="_blank">Success Url</a>
    <br>
    <a href="{{failure_url}}" target="_blank">Failure Url</a>
</body>
</html>